@import "tailwindcss";

/* Toast Progress Bar Animation */
@keyframes toast-progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.animate-toast-progress {
  animation: toast-progress 5000ms linear forwards;
}
